:root{
    --button-width:1rem;
    --button-height:1rem;
}

html {
    margin:0;
    background-color: black;
}


main{
    display: flex; 
    align-items: center; 
    justify-content: center;
}

header>a{
    width:60px;
    height: 100px;
    margin-top:10px;
    padding:20px;
    color:white;
    background-color: darkorange;
    border-radius: 10px;
}


.calculator{
    margin:.5rem;
    display :grid;
    align-items: center;
    width:100%;
    max-width: 500px;
    max-height:775px;
    grid-column-gap:.5rem;
    grid-row-gap:.5rem;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    justify-items: center;
    align-items: center;
    
    
}

#in{
    grid-column: 1 /-1;
    grid-row: 1/2;
    
}

#out{
    grid-column:1/-1;
    grid-row: 2 /3;
}

.IO {
    display: flex; 
    align-items: flex-end; 
    justify-content: flex-end;
    width:80%;
    text-align: end;
    color:white;
    font-size: 4rem;
    
}

.memory {
    display: flex; 
    align-items: center; 
    justify-content: center;
    color:white;
    border-radius: 50%;
    width: var(--button-width);
    height:var(--button-height);
    background-color: grey;
    padding: 35px;
    font-size: 2.5rem;
    
    
 }

 .memory:active{
    background-color: rgb(163, 163, 163);
}

.func {
   display: flex; 
   align-items: center; 
   justify-content: center;
   color:white;
   border-radius: 50%;
   width: var(--button-width);
   height:var(--button-height);
   background-color: grey;
   padding: 35px;
   font-size: 2.5rem;
   
   
}
.func:active{
    background-color: rgb(163, 163, 163);
}

.num {
    display: flex; 
    align-items: center; 
    justify-content: center;
    color:white;
    border-radius: 50%;
    background-color: rgb(44, 43, 43);
    padding: 35px;
    width:var(--button-width);
    height:var(--button-height);
    font-size: 2.5rem;
}
.num:active{
    background-color: rgb(87, 87, 87);
}

.action {
    display: flex; 
    align-items: center; 
    justify-content: center;
    color:white;
    border-radius: 50%;
    background-color: darkorange;
    padding: 35px;
    width:var(--button-width);
    height:var(--button-height);
    font-size: 2.5rem;
}
.action:active{
    background-color: rgb(252, 165, 58);
}
.equals {
    display: flex; 
    align-items: center; 
    justify-content: center;
    grid-column: 3 /-1;
    grid-row:8/-1;
    color:white;
    background-color: darkorange;
    border-radius: 10px;
    height:5rem;
    width: 14rem;
    font-size: 2.5rem;
    
}

.equals:active{
    background-color: rgb(252, 165, 58);
}


@media (max-width:465px){
    .calculator{
        grid-column-gap: .1rem;
        grid-row-gap:.1rem;
        margin:0; 
    }
    .IO{
        font-size:5vw;
    }
    .num{
        padding:7vw;
        font-size:5vw;
    }
    .action{
        padding:7vw;
        font-size:5vw;
    }
    .func{
        padding:7vw;
        font-size:5vw;
    }
    .equals{
        height:14vw;
        width:36vw;
        font-size: 5vw;
    }
}

